.login-container {
    background-color: #181818;
    min-height: 100dvh;
    color: white;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.center p{
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}
.form-button{
    width: 350px;
    height: 37px;
    border: none;
    background-color: #C317B5;
    border-radius: 30px;
    text-align: center;
    margin-top: 25px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.center h3{
    text-align: center;
    margin-top: 12px;
    
}
.center{
    margin-top: 50px
}